<h1>Welcome to the homepage of my project</h1>
<p> This page allows you to calculate the sum of the numbers you enter. To do this:
<br>- Enter a number in the space provided for
<br>- Press "Add this number to the list"
<br>- Once your list is complete, press "Calculate the sum of the numbers in the list"
<br>The result will appear at the bottom of this list</p>

<SPAN style="position: absolute; top: 80px; left: 550px">
<img class="left" src="https://compass1.org/wp-content/uploads/2015/06/Calculator_clipped_rev_1.png" width="200" height="200"/>
</SPAN>

<p>Press "Delete this number from the list" next to the number you want to delete it 
<br>Press "Reset" to clean all numbers from the list</p>


<%= form_tag "/stage", method: "delete" do %>
  <input type="submit" value="Reset" />
<% end %>

<p>
</p>

<% Number.all.each do |nb| %>
<%= form_tag "/stage/#{nb.id}", method: "delete" do %>
  <p><%=nb.value %>
  <input type="submit" value="Delete this number from the list" />
<% end %>
</p>
<% end %>

<p>
<%= form_tag "/stage", method: "post" do %>
  <input type="float" name="value" />
  <input type="submit" value="Add this number to the list" />
<% end %>

<p>
</p>
<p>
</p>

<%= form_tag "/stage", method: "patch" do %>
  <input type="submit" value="Calculate the sum of the numbers in the list" />
<% end %>

<p>
</p>
<%= scatter_chart Number.pluck(:id, :value), xtitle: "Id", ytitle: "Value" %>

<script>
chart = {
  const svg = d3.create("svg")
      .attr("viewBox", [0, 0, width, height]);
  
  svg.append("g")
      .attr("fill", "steelblue")
    .selectAll("rect")
    .data(bins)
    .join("rect")
      .attr("x", d => x(d.x0) + 1)
      .attr("width", d => Math.max(0, x(d.x1) - x(d.x0) - 1))
      .attr("y", d => y(d.length))
      .attr("height", d => y(0) - y(d.length));

  svg.append("g")
      .call(xAxis);
  
  svg.append("g")
      .call(yAxis);
  
  return svg.node();
}
</script>

<div id="container"></div> 
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"> </script> 
<script> 
var paper = Raphael("container", 500, 300); 
var dot = paper.circle(250, 150, 30).attr({ 
fill: "#FFF", 
stroke: "#000", 
"stroke-width": 1 
}); 
</script>
=======
</script> 
>>>>>>> 597e64c2980c913ea7138fbe2a1a714c7cefeb00

<h2><a href="/acknowledgements">Acknowledgements</a></h2>

<svg width="80" height="80"> 
<circle cx="40" cy="40" r="30" stroke="#000" stroke-width="1" fill="#FFF" /> 
</svg> 
