<!DOCTYPE html>
<html>
  <head>
    <title>Stage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <style>
    h1{
	    color: green;

    }
    body{
	    background: linear-gradient(#ffffff, #4d4d4d);	  

    }
    p {
	    	
    }

    </style>
  </head>

  <body>
    <%= yield %>
    <img src="https://compass1.org/wp-content/uploads/2015/06/Calculator_clipped_rev_1.png" width=200 height=200>
  </body>
</html>
